<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-3" for="electionName">Name</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="electionName" placeholder="Humpday Happy Hour">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3" for="electionDescription">Description</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="electionDescription" placeholder="Where should we go for drinks on Wednesday?">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Options</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="option1" placeholder="Option 1">
                </div>
                <div class="col-md-9 col-md-offset-3 add-option">
                    <input type="text" class="form-control" id="option2" placeholder="Option 2">
                </div>
                <div class="col-md-9 col-md-offset-3 add-option">
                    <input type="text" class="form-control" id="option3" placeholder="Option 3">
                </div>
                <div class="col-md-9 col-md-offset-3 add-option">
                    <input type="text" class="form-control" id="option4" placeholder="Option 4">
                </div>
                <div class="col-md-9 col-md-offset-3 add-option">
                    <input type="text" class="form-control" id="option5" placeholder="Option 5">
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary col-md-3 col-md-offset-3">Generate</button>
                <a href="/public" class="btn btn-default col-md-3 col-md-offset-3" role="button">Cancel</a>
            </div>
        </form>
    </div>
</div>