<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Decider</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/create">Create</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <table class="table table-striped">
        <thead>Open</thead>
        <tr
    </table>
    <div class="row text-center">
        <div class="col-md-2 col-md-offset-4">
            <p><a type="button" class="btn btn-primary btn-lg" href="/create">Create</a></p>
        </div>
        <div class="col-md-2">
            <p><a type="button" class="btn btn-default btn-lg" href="/public">Public</a></p>
        </div>
    </div>
</div>