<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Decide</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/create">Create</a></li>
            <li><a href="/public">Public</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <p class="lead blue">Rank</p>
        <form class="form-horizontal">
            <div class="form-group" ng-repeat="option in election.options">
                <label class="control-label col-md-1 text-right">#{{$index + 1}}</label>
                <div class="col-md-11">
                    <select class="form-control" ng-options="o for o in election.options" ng-model="rank">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary col-md-3 col-md-offset-2">Submit</button>
                <a href="/public" class="btn btn-default col-md-3 col-md-offset-2" role="button">Cancel</a>
            </div>
        </form>
    </div>
</div>