/*body { 
	padding-top: 70px; 
}*/

[ng-click] {
    cursor: pointer;
}

.add-option {
    margin-top: 5px;
}

.elections {
    color: dimgrey;
}

.elections-name {
    font-weight: 500;
}

.elections-description {
    font-weight: 300;
}

.elections-glyphicon:hover {
    cursor: pointer;
    color: black;
}

.result {
    color: dimgrey;
}

.result-0 {
    color: green;
    font-size: 20px;
    font-weight: 600;
}

.result-dropped {
    color: red;
    font-weight: 300;
}